<div class="p-1">
  <div class="row">
      <div class="col-md-4">
          <input type="text" class="form-control">
      </div>
      <div class="col-md-4">
          <button class="btn btn-primary w-100" (click)="showModal(myModal)">Botón de bootstrap</button>
      </div>
  </div>
</div>
<h2>Lista de personas</h2>
<table>
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>DNI</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{person.firstName}}</td>
			<td>{{person.surName}}</td>
			<td>{{person.dni}}</td>
		</tr>
	</tbody>
</table>

<ng-template #myModal>
	<div class="modal-header">
	  <h4 class="modal-title pull-left">Título del modal</h4>
	</div>
	<div class="modal-body">
	  Cuerpo del modal
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar modal</button>
	</div>
</ng-template>